body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* =========================
   Hero Section
========================= */

.hero {
    background-color: white;

    padding: 30px;
    margin: 40px 0;

    display: flex;
    gap: 40px;

    align-items: center;
}

.hero-content {

}

h1 {
    color: #111827;
    font-size: 35px;
    margin: 0;
}

.job-title {
    font-size: 18px;
    font-weight: 600;
    color: #2563eb;
    margin: 8px 0 16px;
}

.hero-description {
    max-width: 480px;
    line-height: 1.6;
}

.hero-actions {
    display: flex;
    gap: 16px;
}

.primary-button {
    background-color: #2563eb;
    color: white;
    text-decoration: none;

    padding: 12px 24px;

    border-radius: 8px;
}

.profile-image {
    width: 350px;
    border-radius: 10px;
}

/* =========================
   Typography
========================= */

h2 {
    color: #111827;
    margin-top: 30px;
}

a {
    color: #2563eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* =========================
   Skills Section
========================= */

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.skill-card {
    padding: 20px;
    border: 1px solid black;
}

/* =========================
   Footer
========================= */

.footer {
    margin-top: 60px;
    text-align: center;
}